body {
    background-color: #000;
}

.contentArea>div {
    /* 下两行会影响页面弹框位置 */
    /* position: relative; */
    /* float: left; */
    padding: 20px 22px!important;
}

.chartItem {
    position: absolute;
    width: 300px;
    height: 300px;
}
/* 这是item10_1 */
/* .chartItem::after {
    content: attr(state);
    position: relative;
    top: -20px;
    left: 5px;
} */
/* 这是title 隐藏了 */
.chartItem .emptyTipsOne {
    display: none;
}
.chartItem .timeList_3 {
    height: 500px  !important;
    overflow: auto !important;
}

.chartItem .componentArea {
    padding-top: 0px !important;
}


/* 地图 item1*/


/* 图8重要人物图谱 item8_1 */


/* 图十国家力量 item10 */

.item1,
.item8_1,
.item10 {
    width: 100%;
    height: calc( 100% - 200px);
}


/* 热点top列表 .item2_1 item2_2 item2_3 */


/* 图三东南亚top列表 item_3*/


/* 图七热点事件、各方表态top列表 item7_1 item7_2*/


/* 图九军事力量top列表 item9*/


/* 图11缅甸一带一路态势 item11*/


/* 图12东南亚一带一路态势 item12*/


/* 图13全球一带一路态势 item13*/

.item2_1,
.item2_2,
.item2_3,
.item_3,
.item7_1,
.item7_2,
.item8_2,
.item9,
.item11,
.item12,
.item13 {
    width: 420px;
    height: calc( 100% - 220px);
}


/* 定位在右侧 */

.item2_1,
.item2_2,
.item2_3,
.item_3,
.item7_2,
.item8_2,
.item9,
.item11,
.item12,
.item13 {
    right: 0px;
}


/* 定位在左侧 */

.item7_1 {
    left: 0px;
}

.item3 {
    right: 130px;
}

.item3 .sidebar {
    width: 400px;
}

.item5 {
    width: 100%;
    height: calc( 100% - 220px);
    background: rgb(236 239 232 / 15%);
}
.chartArea{
    padding-top: 30px;
}
.item5>.componentArea .chartArea {
    margin-top: 100px!important;
    
}

.item10_1 ,.item10_7 {
    left: 6%;
    width: 550px;
    top:20%;
    background: rgb(236 239 232 / 15%)
}
.item10_4{
    left: 6%;
    width: 550px;
    top:55%;
    background: rgb(236 239 232 / 15%)
}
.item10_2 ,.item10_8{
    left: 36%;
    width: 550px;
    top:20%;
    background: rgb(236 239 232 / 15%)
    
}
.item10_5{
    left: 36%;
    width: 550px;
    top:55%;
    background: rgb(236 239 232 / 15%)
   
}
.item10_3,.item10_9{
    right: 6%;
    width: 550px;
    top:20%;
    background: rgb(236 239 232 / 15%)
  
}
.item10_6{
    right: 6%;
    width: 550px;
    top:55%;
    background: rgb(236 239 232 / 15%)
  
}